
.habilidades-info{
    color: white;

}
.hamood{
    display: flex;
}
.habilidades-info h1{
    text-align: center;
}
.habilidades-info p{
    padding: 0 19.5%;
}
.img-card{
    padding: 1rem;
    gap: 2rem;
    margin: 0 1rem;
    border-radius: 10px;
    max-width: 30px;
    background-color: #292B2E;
    transition: .3s;
    cursor: pointer;
}
.img-card:hover{
    background-color: #35373b;
}
.container-inject{
    padding: 3rem;
    border-radius: 5px;
}
@media (max-width:768px) {
    .container-inject{
        justify-content: space-around;
        gap: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
.col .card{
    background: transparent;
    border-color: #FFB742;
    color: #FFB742;
}
.card-img-top{
    max-height: 20rem;
    object-fit: cover;
    object-position: center;

}
.col .card .button-pr{
    background: transparent;
    border-color: #FFB742;
    color: #FFB742;
    border-style: solid;
}
.col .card .button-pr a{
    text-decoration: none;
    color: #FFB742;
    transition: .3s;
}

@media (max-width:428px) {
   .img-card{
       margin-top: 1rem;
   }
   .col .card{
       min-height: 1rem!important;
   }
}