@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
/*header*/
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 24px;
    z-index: 1000;
}
.whatsapp-button img {
    width: 35px;
    height: 35px;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #212529!important;
    font-family: 'Roboto', sans-serif;
}
.remove-links{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #212529 ;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-desktop{
    display: flex;
    color: white;
}

.nav-desktop ul{
    list-style: none;
    cursor: pointer;
    transition: .3s;
}
.nav-desktop ul li:hover{
    color: #FFB742;
}

.button-cnt{
    background-color: #FFB742;
    border-style: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}
.hamburguer{
    display: none;
}
@media (max-width:768px) {
    header{
        position: fixed;
        width: 100%;  
    }
    .nav-desktop{
        display: none;
    }
    .button-cnt{
        display: none;
    }
    .hamburguer{
        display: block;
        cursor: pointer;
    }
    .line-ham{
        width: 30px;
        height: 2px;
        margin: 0.4rem 0rem;
        background-color: white;
    }
}
/*mobile nav*/
.mobile-nav{
    
    background-color: #FFB742;
    width: 200px;
    height: 100%;
    margin-top: -110vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .3s;
}
.mobile-nav .buttom-mobile{
    border-style: none;
    margin: 1rem 0rem;
    background-color: transparent;
    font-size: 1.5rem;
}
.mobile-nav ul{
    list-style: none;
    padding: 0;
    cursor: pointer;
    margin: 2rem 0rem;
    font-size: 1.5rem;
    text-decoration: underline;
}
.mobile-nav .button-cnt{
    background-color: black;
    color: #FFB742;
    margin-top: 2rem;
}

/*Sobre min*/

.learn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.learn h3 {
    margin-top: 5rem;
}
.learn h3 span{
    color: #FFB742;
    text-decoration: underline;
}
.learn h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}
.learn p{
    font-size: 1.3rem;
}
.learn img{
    border-radius: 100px;
    margin-top: 1rem;
}
.img-logo-perfil{
    width: 200px;
    transition: .6s;
}
.img-logo-perfil:hover{
    border-radius: 0px;
}
@media (max-width:768px) {
    .learn h3{
        margin-top: 7rem;
        font-size: 1rem;
    }
    .learn h1{
        font-size: 2rem;
    }
    .learn p {
        font-size: 0.8rem;
    }
    .learn img{
        width: 150px;
    }
}

/*info*/

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    padding: 3rem;
    margin: 0 20%;
    color: white;
}

.div-info{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #292B2E;
    transition: .3s;
}
.div-info:hover{
    
    background-color: #34363b;
}
.numeros-info h3{
    color: #FFB742;
    text-align: center;
}
.numeros-info p {
    font-weight: bold;
}
@media (max-width:1024px) {
    .info{
        flex-wrap: wrap;
    }
}
@media (max-width:425px) {
    .info{
        margin: 0;
        margin-top: 3rem;
        padding: 1rem;
    }
}
/*quem sou eu*/

.sobre-min{
    margin-top: 10rem;
    color: white;
}
.fix{
    width: 100%;
    display: flex;
    justify-content: center;
}
.col-md-6{
    width: 100%!important;
}
.titulo-padrao {
    text-align: center;
    padding: 1rem;
    margin-bottom: 3rem;
    width: 20rem;
    color: white;
    border-radius: 20px;
    background-color: #292B2E;
}
.flex-d{
    display: flex;

}
.sobre-min-div{
    font-size: 1.1rem;
    padding: 10%;
}
@media (max-width:728px) {
    .sobre-min-div{
        padding: 0;
    }
    .flex-d{
        flex-direction: column;
    }
    .habilidades{
        margin-top: 0!important;
        margin-bottom: 0!important;
        width: 100%!important;
    }
    .sobre-min{
        width: 100%!important;
    }
    .me-text{
        padding: 0 2rem;
    }
}

/*habilidades*/

.habilidades-info{
    color: white;
}
.habilidades-info h1{
    text-align: center;
}
.habilidades-info p{
    width: 100%;
    padding: 0 10%!important;
    padding: 0;
}
.img-card{
    padding: 1rem;
    gap: 2rem;
    margin: 0 1rem;
    border-radius: 10px;
    max-width: 80px;
    background-color: #292B2E;
    transition: .3s;
    cursor: pointer;
}
.img-card:hover{
    background-color: #35373b;
}
.container-inject{
    padding: 3rem;
    border-radius: 5px;
}
@media (max-width:768px) {
    .container-inject{
        justify-content: space-around;
        gap: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
.col .card{
    background: transparent;
    border-color: #FFB742;
    color: #FFB742;
}
.card-img-top{
    max-height: 20rem;
    object-fit: cover;
    object-position: center;

}
.col .card .button-pr{
    background: transparent;
    border-color: #FFB742;
    color: #FFB742;
    border-style: solid;
}
.col .card .button-pr a{
    text-decoration: none;
    color: #FFB742;
    transition: .3s;
}

@media (max-width:428px) {
   .img-card{
       margin-top: 1rem;
   }
   .col .card{
       min-height: 1rem!important;
   }
}

/*Projetos*/

.padding-div{
    padding: 0 10.5%;
}