@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

.learn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.learn h3 {
    margin-top: 5rem;
}
.learn h3 span{
    color: #FFB742;
    text-decoration: underline;
}
.learn h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}
.learn p{
    font-size: 1.3rem;
}
.learn img{
    border-radius: 100px;
    margin-top: 1rem;
}
.img-logo-perfil{
    width: 200px;
    transition: .6s;
}
.img-logo-perfil:hover{
    border-radius: 10px;
}
@media (max-width:768px) {
    .learn h3{
        margin-top: 7rem;
        font-size: 1rem;
    }
    .learn h1{
        font-size: 2rem;
    }
    .learn p {
        font-size: 0.8rem;
    }
    .learn img{
        width: 150px;
    }
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    padding: 3rem;
    margin: 0 20%;
    color: white;
}

.div-info{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #292B2E;
    transition: .3s;
}
.div-info:hover{
    
    background-color: #34363b;
}
.numeros-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.numeros-info h3{
    color: #FFB742;
    text-align: center;
}
.container_egg{
    position: absolute;
}
.egg{
    position: relative;
    top: -57px;
    left: 124px;
    transform: rotate(25deg);
    font-family: 'Kumbh Sans';

}
.ponteir{
    cursor: pointer;
}
.GithubLinkContainer{
    color: white;
    text-decoration: none;
}
@media (max-width:768px) {
    .egg{
        display: flex;
        font-size: 15px;
        font-family: 'Kumbh Sans';
        transform: none;
        top: 0;
        left: 0;
        opacity: 0.4;
    }
    .container_egg{
        position:unset;
    }
    .numeros-info p {
        font-weight: bold;
        text-align: center;
    }
}
.numeros-info p {
    font-weight: bold;
}
@media (max-width:1024px) {
    .info{
        flex-wrap: wrap;
    }
}
@media (max-width:425px) {
    .info{
        margin: 0;
        margin-top: 3rem;
        padding: 1rem;
    }
}